
html {
    scroll-behavior: smooth;
  }

body {
    margin: 0px;
    padding: 0px;
    background-color: #2d2e32;
    color: white;
    overflow-x: hidden;
}




#brand {
    display: flex;
    width: 200px;
    margin-left: 180px;
    margin-top: 35px;
    position: relative;
    z-index: 10;
    font-size: 22px;
    font-family: 'agustina';
    cursor: pointer;


}




.navbar {

    display: flex;
    align-items: center;
    max-width: 100vh;
    justify-content: space-between;
    margin-left: 700px;
    margin-top: -45px;
    height: 10px;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: left;
    text-decoration: none;
    font-family: 'Montserrat';
    list-style-type: none;


}

.navbar a {
    text-decoration: none;
    color: rgba(255, 255, 255, .5);

}

.navbar a:hover {

    color: rgb(255, 255, 255);
    transition: inherit;
    transition-duration: 0.5s;
}

.up {
    position: fixed;
    right: 0%;
    bottom: 8%;
    background-color: var(--bg-dark);
    padding: 15px;
    padding-left: 20px;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    animation: pulse2 1.5s infinite;
    cursor: pointer;
    z-index: 10;

}

@keyframes pulse2 {

    0% {
        box-shadow: 0 0 10px #6EF3A5;
    }


    100% {
        box-shadow: 0 0 0 0.3rem #6EF3A5;
    }
}




#Header {
    padding-bottom: 2.5%;
}


.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

#Circle {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    width: 100px;
    top: 10%;
}





.mini-circle {
    height: 650px;
    width: 650px;
    background-color: #25262a;
    position: absolute;
    top: 25%;
    right: 2%;
    border-radius: 360px;
    animation: beat 2s;
    transform-origin: center;
}

.fa-github:hover {


    color: #6EF3A5;
    cursor: pointer;
    transition: all;
    transition-duration: 1.2s;
}
#Circle a{
    color: white;
}

#chip {
    background-color: #6EF3A5;
    width: 10em;
    height: 2em;
    border-radius: 4px;
    justify-content: center;
    align-items: center;
    display: flex;
    color: black;
    margin-top: 25vh;
    margin-left: 25vh;
    font-family: 'Montserrat';
}


.lable {
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: left;
    background-color: transparent;
}


#first-name {
    margin-top: -10px;
    margin-left: 180px;
    font-size: 3.2rem;
    font-family: 'Montserrat';
    letter-spacing: 7px;
    font-weight: 200;
}

#last-name {
    margin-left: 180px;
    font-size: 2.9rem;
    font-family: 'Montserrat';
    line-height: 70px;
    font-weight: bolder;
}


.svg {

    margin-left: -210px;
}


.UI-Text {
    margin-left: 215px;
    margin-top: -35px;
    font-family: 'Montserrat';
}


.line {
    display: flex;
    width: 6%;
    margin-top: 50px;
    margin-left: 26vh;
    border-top: 0.2px solid rgb(148, 148, 148);
}



.social-icons {


    display: flex;
    align-items: center;
    max-width: 45vh;
    justify-content: space-between;
    margin-left: 42vh;
    margin-top: -15px;
    color: #6EF3A5;
}


#linkedin {

    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 40px;
    border-radius: 360px;
    background-color: #25262a;
    margin-top: -7px;
    cursor: pointer;


}
#linkedin a{
    color: #6EF3A5;
}

#linkedin:hover {

    box-shadow: 0 0 10px #6EF3A5;
    ;
    transition-duration: .7s;

}


@keyframes pulse1 {

    0% {
        box-shadow: 0 0 19px 0.7s #6EF3A5;
    }


    100% {
        box-shadow: 0 0 19px 0.7s #6EF3A5;
    }
}





#github {

    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 40px;
    border-radius: 360px;
    background-color: #25262a;
    margin-top: -7px;
    cursor: pointer;



}

#github a{
    color: #6EF3A5;
}

#github:hover {

    box-shadow: 0 0 10px #6EF3A5;
    ;
    transition-duration: .7s;

}


#facebook {

    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 40px;
    border-radius: 360px;
    background-color: #25262a;
    margin-top: -7px;
    cursor: pointer;



}

#facebook:hover {

    box-shadow: 0 0 10px #6EF3A5;
    ;
    transition-duration: .7s;

}
#facebook a{
    color: #6EF3A5;
}


#phone {


    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 40px;
    border-radius: 360px;
    background-color: #25262a;
    margin-top: -7px;
    cursor: pointer;

}

#phone:hover {

    box-shadow: 0 0 10px #6EF3A5;
    ;
    transition-duration: .7s;

}

#insta {

    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 40px;
    border-radius: 360px;
    background-color: #25262a;
    margin-top: -7px;
    cursor: pointer;

}
#insta a{
    color: #6EF3A5;
}

#insta:hover {

    box-shadow: 0 0 10px #6EF3A5;
    ;
    transition-duration: .7s;

}


#twitter {

    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 40px;
    border-radius: 360px;
    background-color: #25262a;
    margin-top: -7px;
    cursor: pointer;



}
#twitter a{
    color: #6EF3A5;
}

#twitter:hover {

    box-shadow: 0 0 10px #6EF3A5;
    ;
    transition-duration: .7s;

}


.chat {

    margin-top: -3vh;
    width: 20%;

}

#chat-btn {
    display: flex;
    margin-top: -5vh;
    line-height: 37vh;
    margin-left: 26vh;
    font-size: 0.9rem;
    font-family: 'Montserrat';
    background-color: transparent;
    color: #6EF3A5;
    text-decoration: underline;
    text-underline-offset: 10px;
    letter-spacing: 2px;
    font-weight: bolder;
}


.stats-data {

    display: flex;


}


.value {
    font-family: 'Montserrat';
    display: flex;
    font-weight: 400;
    font-size: 1.8rem;
    margin-left: 28vh;
    margin-top: -15vh;
}


.stats-label {
    display: flex;
    color: #b4b7c8;
    font-family: 'Montserrat';
    font-size: 11px;
    margin-bottom: 1vh;
    margin-top: -15vh;
    margin-left: 1vh;
    font-weight: lighter;
}





.label {
    display: flex;
    color: #b4b7c8;
    font-family: 'Montserrat';
    font-size: 11px;
    margin-top: -1vh;
    padding: 0px;
    margin-left: 1vh;
    font-weight: lighter;

}

.value-2 {

    margin-left: 50vh;
}


.value-3 {

    margin-left: 80vh;
}

.container-fluid {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}






.bg-circle {
    height: 650px;
    width: 650px;
    background-color: #25262a;
    position: absolute;
    top: 38%;
    right: 7%;
    border-radius: 360px
}


.profile-picture {
    display: flex;
    height: 70vh;
    margin-left: 25vh;
    right: 3%;
    position: absolute;
    margin-top: -70vh;
    margin-left: 100px;
}

.space {

    position: absolute;
    bottom: 0;
    left: 0;
    top: 106%;
    width: 100vw;
    height: 30vh;
    background-color: #2d2e32;
    z-index: 2;
}

.circle {
    height: 20px;
    width: 20px;
    background-color: #6EF3A5;
    border-radius: 360px;
    position: absolute;
    transform-origin: center;
}

#circle-1 {
    animation: updown 3s infinite;
    position: absolute;
    top: 75%;
    right: 33%;


}

#circle-2 {
    animation: updown 3s infinite;
    position: absolute;
    top: 70%;
    right: 10%;
}

@keyframes updown {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(70%);
    }

    100% {
        transform: translateY(0);
    }
}


.about {
    background-color: #25262a;
    padding-top: 10%;
    padding-bottom: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.about-container {


    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: -2vh;
    height: 100vh;
}


.about-img {

    background-color: transparent;
}



.about-img img {
    vertical-align: middle;
    border-style: none;
    position: absolute;
    top: 140%;
    right: 55%;
    width: 35vw;

}


.about-text {
    padding-left: 5%;
    background-color: #25262a;
    text-align: justify;
    text-align: justify;
    margin-top: -50%;
    margin-left: 40%;
}


#about-me-text {
    display: flex;
    margin-left: 5%;
    font-weight: bold;
    font-size: 22px;
    color: #6EF3A5;
}


.about-me-heading {

    color: white;
    font-weight: 100;
    width: 450px;
    font-size: 2.5rem;
    margin-left: 5%;
    font-family: 'Montserrat';
}

p {
    margin-top: 0;
    margin-bottom: 1rem;
}


.about-quote {
    font-size: 12px;
    font-style: italic;
    color: #7d7e83;
    width: 400px;
    padding-top: 3%;
    margin-left: 5%;

}


.about-main-text {
    background-color: transparent;
    font-family: 'Montserrat';
    margin-left: 5%;
    width: 530px;
    color: white;
    padding-top: 5%;
    line-height: 30px;

}

p {
    margin-top: 0;
    margin-bottom: 1rem;

}

#download-btn {
    border-radius: 8px;
    padding: 15px;
    margin-left: 38px;
    padding-left: 15px;
    padding-right: 15px;
    background-color: #6EF3A5;
    transition: 0.75s;


}

.btn:not(:disabled):not(.disabled) {
    cursor: pointer;
}


#download-btn:hover {

    background-color: rgb(255, 255, 255);
    border: 1px solid #34f584;
    box-shadow: 0 0 7px #6EF3A5;



}

#download-btn a {

    font-family: 'Montserrat';
    color: black;
    list-style-type: none;
    font-size: 14px;
    text-decoration: none;
}

.fa-file-text {


    font-size: 17px;


}

.tech-stack {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding-top: 10%;
    padding-bottom: 8%;
    padding-left: 8%;
    margin-left: 18%;
}

#tech-stack-title {
    background-color: transparent;
    color: #6EF3A5;
    margin-left: -55%;
    margin-top: 10%;
    font-weight: bold;
    font-size: 22px;
}

#tech-stack-text {
    color: white;
    width: 400px;
    margin-left: -55%;
    margin-top: 3%;
    line-height: 20px;
    font-size: 12px;
}

.label-stack {
    margin-left: -55%;
    font-size: 10px;
    color: #7d7e83;
}


p {

    margin-top: 0;
    font-family: 'Montserrat';
    margin-bottom: 1rem;

}

.txt-type {
    display: flex;
    width: 250px;
    height: 30px;
    margin-top: -35px;
    margin-left: 200px;
    font-family: 'Montserrat';
    overflow: hidden;
    white-space: nowrap;
    font-weight: 400;
    transition-duration: 0.2s;
}



.tech {
    padding: 3px;
    margin-bottom: 14px;
    max-width: max-content;
    margin-right: 12px;
    border-radius: 6px;
    background-color: #6EF3A5;
    transition: 0.5s;

}

.tech-label {

    color: black;
    background-color: transparent;
    font-size: 14px;
    padding-left: 10px;
    padding-right: 25px;
    font-family: 'Montserrat';
    position: relative;
    top: -5px;
}

#mobile-tech {
    display: flex;
    margin-left: -55%;
}


#web-tech {
    display: flex;
    margin-left: -55%;
}


#database-tech {

    display: flex;
    margin-left: -55%;

}

#vc-tech {

    display: flex;
    margin-left: -55%;

}


#design-tech {

    display: flex;
    margin-left: -55%;

}

#server-tech {

    display: flex;
    margin-left: -55%;

}

.tech:hover {

    background-color: rgb(255, 255, 255);
    box-shadow: 0 0 9px #6EF3A5;



}



.stack-illustration {

    position: absolute;
    right: 3%;

}